body {
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}

main {
    background-color:darksalmon;
    font-size:1.2rem;
    padding: 10rem;
    text-align: center;
}

button {
    background-color: rgb(50, 182, 138);
    border: 0;
    text-align: center;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: inset 5px rgba(15, 120, 156, 0.5);
    padding: 2rem;
    font-size: 1.4rem;
    margin: 50px;
}

button:hover {
    background-color: rgba(60, 170, 230, 1);
}

button:active {
    inset: -3px -2px -2px -4px rgba(15, 120, 156, 0.5);
}

#displayWord {
    background-color: steelblue;
    color: whitesmoke;
    padding: 3rem;
    margin: 15px;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    text-decoration: underline;
    border: 5px solid;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    body {
        word-wrap: break-word;
    }
}